databases:
  - name: finds-db
    plan: free
    databaseName: finds_community
    user: finds_user

services:
  - type: web
    plan: free
    name: finds-community
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: finds-db
          property: connectionString
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: AUTH_SECRET
        sync: false
      - key: AUTH_URL
        sync: false
